$movement-hor: 100px;
$movement-ver: 50px;

.Translate {
    width: 160px;
    padding: 5px 0;
    margin: 10px 0;
    background-color: #000;
    text-align: center;
    color: #FFF;
    animation: default 3s infinite;

    &--left {
        animation: moveToLeft;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    &--right {
        animation: moveToRight;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    &--up {
        animation: moveUp;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    &--down {
        animation: modeDown;
        animation-duration: 3s;
        animation-iteration-count: infinite;
    }

    @keyframes default {
        0% {
            transform: translateX($movement-hor);
        }

        50% {
            transform: translateX(-$movement-hor);
        }

        100% {
            transform: translateX($movement-hor);
        }
    }

    @keyframes moveToLeft {
        0% {
            opacity: 0;
            transform: translateX($movement-hor);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes moveToRight {
        0% {
            opacity: 0;
            transform: translateX(-$movement-hor);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes moveUp {
        0% {
            opacity: 0;
            transform: translateY($movement-ver);
        }

        100% {
            transform: translateY(0);
        }
    }

    @keyframes moveDown {
        0% {
            opacity: 0;
            transform: translateY($movement-ver);
        }

        100% {
            transform: translateY(0);
        }
    }
}