.Rotate {
    width: 20px;
    height: 100px;
    margin: 0 40px;
    background-color: #000;
    text-align: center;
    color: #FFF;
    animation: default 2s infinite;

    &--clockwise {
        width: 100px;
        height: 20px;
        margin: 0 20px;
        animation: clockwise 3s infinite;
    }

    &--counterclock {
        width: 100px;
        height: 20px;
        margin: 0 20px;
        animation: counterclock 3s infinite;
    }

    @keyframes default {
        0% {
            transform: rotate(45deg);
        }

        50% {
            transform: rotate(-45deg);
        }

        100% {
            transform: rotate(45deg);
        }
    }

    @keyframes clockwise {
        0% {
            transform: rotate(-360deg);
        }
    }

    @keyframes counterclock {
        0% {
            transform: rotate(360deg);
        }
    }
}